{% extends "base.html" %}
{% block title %}South Canteen System - Home{% endblock %}


{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert bg-{{ category }} alert-dismissible text-center w-50 container p-1" aria-hidden="true" role="alert">
            <p class="display-6 text-white">{{message}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
    <h1 class="display-4 text-center">Welcome, {{current_user.get_name()}}</h1> 

{% else %}
    <h1 class="display-4 text-center">Welcome to South Canteen!</h1>    

{% endif %}  

    <p class="text-center text-success">Say hello to good food</p>

    <div class="container-fluid">
        <table class="d-flex justify-content-center">
            <tr>
              <th class="justify-content-center">Promotions</th>
            </tr>
            <tr>
              {% block promotions %}
              {% endblock %}
            </tr>
          </table>
    </div>
{% endblock %}