{% extends "home.html" %}
{% block title %}
South Canteen - Opening Hours
{% endblock %}

{% block content %}
<!--Nav tabs-->
<h1 class="display-4">Opening Hours</h1>
<ul class="nav nav-tabs">
    <li class="nav-items">
        <a class="nav-link active" data-toggle="tab" href="#schoolTerm">School Term</a>
    </li>
    <li class="nav-items">
        <a class="nav-link" data-toggle="tab" href="#holidays">Holidays</a>
    </li>
</ul>

<!--Tab Panes-->
<div class="tab-content">
    <div class="tab-pane container-fluid active" id="schoolTerm"><h3>School Term Opening Hours</h3></div>
    <div class="tab-pane container-fluid fade" id="holidays"><h3>Holiday opening Hours</h3></div>
</div>
{% endblock %}

